*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --text-color: #ffffff
}
body{
  background: url(./assets/bg-mobile.png) no-repeat top center/ cover;
  height: 100vh;
}
body *{
 font-family: 'Inter', sans-serif;
 color: var(--text-color);
}

#container{
  border: 1px red solid;
  width: 100%;
  max-width: 588px;
  height: 712px;
  margin: 56px auto 0;
  padding: 0 24px;
}
/* HEADER */
#profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}
#profile img{
  width: 112px;
  height: 112px;
}
#profile p{
  margin-top: 8px;
  line-height: 24px;
  font-weight: 500;
}
/* LINKS */
#content ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;

}
#content ul li a{
  background: rgba(255, 255, 255, 0.1); 
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);/* rodar no safari */
  text-decoration: none;
  font-weight: 500;
}
#content ul li a:hover{
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #ffffff;
}
/* SOCIAL LINK */
#social-links{
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}
#social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;

  transition: background 0.2s;
}
#social-links a:hover{
  background: rgba(255, 255, 255, 0.2);
}

footer{
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}